<div class="search-cont">
    <input type="text" placeholder="search user">
    <button>search</button>
    <button onclick="window.location.href = '/admin?pg=addProducts'">+ Product</button>
</div>

<table class="table products-table" id="tabe_of_users">
    <tr>
        <th class="col">#</th>
        <th class="col">IMG</th>
        <th class="col">Title</th>
        <th class="col">Description</th>
        <th class="col">Price</th>
        <th class="col">PID</th>
        <th class="col">Created</th>
        <th class="col">LastSale</th>
        <th class="col">Order</th>
        <th class="col">Stock</th>
        <th class="col">-</th>
        <th class="col">-</th>
    </tr>

    <% products.forEach((product,index,array)=>{ %>

        <tr>
            <td>
                <%= index + 1 %>
            </td>
            <td>
                <img class="img-thump" src="/productPictures/<%=product.IID%>.jpg" alt="">
            </td>
            <td>
                <%= product.title %>
            </td>
            <td>
                <%= product.description %>
            </td>
            <td>
                <%= product.price %>
            </td>
            <td>
                <%= product.PID %>
            </td>
            <td>
                <%= product.createdAt %>
            </td>
            <td>
                <%= product.lastSell %>
            </td>
            <td>
                <%= product.order %>
            </td>
            <td>
                <%= product.stock %>
            </td>
            <td><img src="/res/edit-user.svg" alt="Edit" id="btn_of_the_button_PID" onclick="window.location.href='/admin?pg=updateProducts&pid=<%=product.PID%>'"></td>
            <td><img src="/res/delete.svg" alt=""></td>
        </tr>

        <% }); %>

</table>
