<div class="search-cont">
    <input type="text" placeholder="search user">
    <button>search</button>
    <button>+ Product</button>
</div>

<table class="table products-table" id="tabe_of_users">
    <tr>
        <th class="col">#</th>
        <th class="col">IMG</th>
        <th class="col">Name</th>
        <th class="col">Description</th>
        <th class="col">Prize</th>
        <th class="col">PID</th>
        <th class="col">Created</th>
        <th class="col">LastSale</th>
        <th class="col">Order</th>
        <th class="col">Stock</th>
        <th class="col">InCart</th>
        <th class="col">-</th>
        <th class="col">-</th>
    </tr>

    <tr>
        <td>1</td>
        <td><img class="img-thump" src="/res/pro-1.jpg" alt=""></td>
        <td>10TB Sandisk Pendrive</td>
        <td>Best pendrive ever</td>
        <td>5600</td>
        <td>FBsR1gycnhV23TRZbOzBmpf_G</td>
        <td>01-01-2022</td>
        <td>09-08-2022</td>
        <td>500</td>
        <td>14</td>
        <td>1280</td>
        <td><img src="/res/edit-user.svg" alt="Edit" onclick="updatePopUp(1,this,true)" id="btn_of_the_button_UID"
                identifier="<%=user.UID%>"></td>
        <td><img onclick="deletePopup(1,this.parentElement.parentElement)" src="/res/delete.svg" alt=""></td>
    </tr>

    <% users.forEach((user,index,array)=>{ %>

        <tr>
            <td>
                <%= index + 1 %>
            </td>
            <td>
                <%= product.name %>
            </td>
            <td>
                <%= product.email %>
            </td>
            <td>
                <%= product.admin.isAdmin?"A":"U"; %>
            </td>
            <td>
                <%= product.UID %>
            </td>
            <td>
                <%= product.creationTime %>
            </td>
            <td>
                <%= product.lastLoginTime %>
            </td>
            <td>
                <%= product.orders.length %>
            </td>
            <td>
                <%= product.cart.length %>
            </td>
            <td><img src="/res/edit-user.svg" alt="Edit" onclick="updatePopUp(1,this,true)" id="btn_of_the_button_UID"
                    identifier="<%=user.UID%>"></td>
            <td><img onclick="deletePopup(1,this.parentElement.parentElement)" src="/res/delete.svg" alt=""></td>
        </tr>

        <% }); %>

</table>


</script>